<!DOCTYPE html>
<html lang="pt-pt">
{% load static %}

<head>
    {% include 'favicon.html' %}
  <title>Confirmação de password</title>
  <meta charset="UTF-8">
	<meta content="width-device-width,initial-scale=1.0" name="viewport">
  <link rel="stylesheet" href="{% static 'users/confirm.css' %}?{% now 'U' %}">
    <link href="{% static 'global.css' %}" rel="stylesheet">
</head>

<body>

{% include 'navbar.html' %}
<main>
  <div class='divConfirm'>
    <section class="confirmSection">
      <h1 class="title1">Recebemos o teu pedido!</h1>
      <p class="text1">
        Irás receber um link no teu email para recuperares a palavra-passe!
      </p>
    </section>
  </div>
</main>

</body>

</html>