<!DOCTYPE html>
<html lang="pt-pt">
{% load static %}

<head>
    {% include 'favicon.html' %}
    <title>Reset de password</title>
    <meta charset="UTF-8">
	<meta content="width-device-width,initial-scale=1.0" name="viewport">
    <link href="{% static 'users/password_reset.css' %}?{% now 'U' %}" rel="stylesheet">
    <link href="{% static 'global.css' %}" rel="stylesheet">
</head>

<body>

{% include 'navbar.html' %}

<main>
    <form class='divRegister' method="POST">
            {% csrf_token %}
            <section class="registerContainer">
                <h1 class="title">Altera a tua password! </h1>
                <section class="Inputs">
                    <section class="space"></section>
                    {{form.new_password1}}
                    <section class="space"></section>
                    {{form.new_password2}}
                    <section class="space"></section>
                    <section class="space"></section>

                    <section class="buttonSection">
                        <input class="registarButton" type="submit" value="Alterar">
                    </section>
                </section>
            </section>
            <section class="errors">
                {% for message in messages %}
                <div class="container">
                    <div class="error_div">
                        {{ message }}
                    </div>

                </div>
                {% endfor %}
            </section>

            </div>
        </form>
</main>

        <script>
            let input_fields = document.getElementsByTagName('input');
            input_fields[1].placeholder = 'Palavra Passe';
            input_fields[2].placeholder = 'Confirma a palavra passe';
            input_fields[1].className = 'inputLong';
            input_fields[2].className = 'inputLong';
        </script>
</body>
</html>
