<!DOCTYPE html>
<html lang="pt-pt">
{% load static %}

<head>
    {% include 'favicon.html' %}
    <title>Reset password</title>
    <meta charset="UTF-8">
	<meta content="width-device-width,initial-scale=1.0" name="viewport">
    <link href="{% static 'users/reset_password_get_email.css' %}?{% now 'U' %}" rel="stylesheet">
    <link href="{% static 'global.css' %}" rel="stylesheet">
</head>

<body>

{% include 'navbar.html' %}

<main>
    <form class='divRecover' method="POST">
        {% csrf_token %}
        <section class="recoverSection">
            <h1 class="title1">Recupera a tua palavra-passe</h1>
            <p class="text1">
                Não te preocupes! É normal! Insere o teu email instituicional associado à tua conta.
            </p>
            <input autocomplete="on" class="inputLong" name="email" placeholder='   Email Institucional' type="text"/>

            <section class="buttonSection1">
                <input class="ResetButton" name="submit" type="submit" value="Reset password">
            </section>

        </section>
        <section class="errors">
            {% for message in messages %}
            <div class="container">
                <div class="error_div">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        </section>

    </form>
</main>


</body>

</html>
<!--
<form method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <td>Email:</td>
            <td>
                <input name="email" type="text">
            </td>
        </tr>

        <tr>
            <td>
                <input name="submit" type="submit"
                       value="reset password">
            </td>
        </tr>

    </table>
</form>
{% for message in messages %}
<p id="messages">{{message}}</p>
{% endfor %}
<br>

-->