.navbarContainer{
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .navBar{
    display: flex;
    flex-direction: row;
    width: 35vw;
    justify-content: space-around;
  }
  
  .navElement{
    
    font-size: 1.2vw;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }

  .divRecover{
    display: flex;
    flex-direction: row;
    padding-top: 15vh;
    justify-content: center;
    align-items: center;
    
  }

  .recoverSection{
    width: 25vw;
    height: 42vh;
    background: linear-gradient(112.66deg, #164270 -14.13%, #165081 80%);
    opacity: 1;
    box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text1{
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

  .title1{
    padding-top: 3vh;
    color: white;
    font-size: 1.2vw;
    font-family: 'Roboto', sans-serif;
  }

.inputLong[type=text] {
    height: 5vh;
    width: 18vw ;
    padding-right: 2vw;
    border-radius: 4px;
    /*border: none;*/
    
}

.buttonSection1{
    display: flex;
    flex-direction: row;
    padding-top: 2vh;
    justify-content: center;
}
.ResetButton{
    width: 10vw;
    height: 5vh;
    background: #03045E;
    border-radius: 20px;
    border-color:#03045E;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.1vw;
}

.ResetButton:hover{
    background: #66ACFF;
    border-color:#66ACFF;
    color: white;
    font-size: 1.1vw;
    transition-duration: 1000ms;
}

.navElement:hover{
  color: #66ACFF;
  font-size:1.2vw ;
  transition-duration: 200ms;
} 

.error_div{
  width: 20vw;
  color: white;
  height: 7vh;
  background: linear-gradient(112.66deg, #164270 -14.13%, #165081 80%);
  opacity: 1;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 2vw;
  
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2vh;
  padding-left: 10vw;
  
}

.header {
  font-family: monocode, sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2% 5% 2% 2%;
}

.options {
  color: white;
  display: flex;
  align-items: center;
  position: relative;
  right: 2px;

}

.tt {
  font-size: 18px;
  margin-left: 50px;
  font-family: monospace;
  text-decoration: none;
  color: white;
}

.logo {
  position: absolute;
  height: 90px;
  left: 2%
}

.tt:hover {
  color: #66ACFF;
  transition-duration: 200ms;
}
.buttons{
  margin-left: 40px;
  width: 10vw;
  height: 5vh;
  background: #03045E;
  border-radius: 22px;
  border-color:#03045E;
  border-style: solid;
  font-size: 1vw;
  color: white;
  justify-content: center;
  align-items: center;

}

.buttons:hover{
  border-color:#66ACFF;
  border-style: solid;
  background-color: #66ACFF;
  transition-duration: 1000ms;
}
